@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.home-container{
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.home-main-content h3{
    color: white;
    padding-top: 150px;
    font-size: 40px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-family: 'Sono', sans-serif;
    
}

.home-image img{
    padding-top: 80px;
    height: 75vh;
    width: 50vw;
    -webkit-mask-image: linear-gradient(#000, rgba(0,0,0,0));
    mask-image: linear-gradient(#000, rgba(0,0,0,0));
}

.home-main-content{
    padding: 80px;
    
}

.home-main-content button{
    margin-top: 15px;
    padding: 8px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(45, 214, 15);
    font-weight: bolder;
    font-size: 15px;
}

.home-main-content button:hover{
    color: white;
    background-color: black;
    border: 2px solid rgb(45, 214, 15);
}

.home-main-content p{
    font-family: 'Noto Serif', serif;
    letter-spacing: 1px;
    word-spacing: 3px;
}